*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed {
  top:0px;
}
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 10%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}
/* We want to give the content area some more padding */
/* We want to give the content area some more padding */
.content {
    padding: 1em 0em 3em;
    position: relative;
}
h2 {
  position: absolute;
  top:2px;
  left:50px;
  font-weight: bold;
}
/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}
.content-head{
  margin: 25px auto;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}
.pure-g {
  padding: 0;
  margin: 0 15px;
  position: absolute;
  top:10%;
}
.l-box-lrg.pure-u-1.pure-u-md-2-5, .l-box-lrg.pure-u-1.pure-u-md-3-5 {
  margin: 10px;
}
